<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<base href="/home">
<app-navbar></app-navbar>
<!--                   AQUI COMIENZA LA CREACIÓN DE UN MODAL (PANTALLA EMERGENTE)                       -->

<ng-template #actualizar let-modal >
  <div class="modal-header" style="background-color:#f0ad4e; color: white;">
    <h4 class="modal-title" style="background-color: #f0ad4e; color: rgb(0, 0, 0);">Edición de Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="contenedor" class="padre" >
      <div class="txtusuario">
          <a>Usuario</a>
      </div>
      
      <div class="txtusuario">
          <input type="text" class="form-control" [(ngModel)]="usuarioact" name="usuarioact" id="usuarioNuevo" (keydown.enter)="irSeg(this.id)" placeholder={{usuarioact}} >
      </div>
      <div class="txtusuario">
        <a>Contraseña</a>
    </div>
      <div class="txtpassword">
          <input type="text" class="form-control" [(ngModel)]="contra" name="contra" id="contraNueva" (keydown.enter)="irBtn(this.id)" placeholder="{{contra}}">
      </div>
      <div class="btnlogin" >
          <button class="btn btn-outline-success" id="btnActualizar" (click)="updateUsuario()">
              Actualizar Información
          </button>
      </div>
  
  <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" *ngIf="eliminado" role="progressbar" style="width: 100%;" aria-valuenow="0" aria-valuemin="25" aria-valuemax="100">IT GUATEX</div>
    </div>
  </div>
  </div>
  
</ng-template>
<!--                TERMINA LA CREACION DEL MODAL (PANTALLA EMERGENTE)                                -->

<!--                   AQUI COMIENZA LA CREACIÓN DE UN MODAL (PANTALLA EMERGENTE)                       -->
<ng-template #eliminar let-modal >
  <div class="modal-header" style="background-color:#d9534f; color: white;">
    <h4 class="modal-title" style="background-color: #d9534f; color: rgb(0, 0, 0);">¿Esta seguro de eliminar al usuario "{{usuarioeli}}"?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="contenedor" class="padre" >
      
      <div class="btnlogin" >
          <button class="btn btn-outline-success" (click)="deleteUsuario()">
              Eliminar 
          </button>
      </div>
  
  <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" *ngIf="confirmacion" role="progressbar" style="width: 100%;" aria-valuenow="0" aria-valuemin="25" aria-valuemax="100">IT GUATEX</div>
    </div>
  </div>
  </div>
 
</ng-template>
<!--                TERMINA LA CREACION DEL MODAL (PANTALLA EMERGENTE)                                -->

<!--                   AQUI COMIENZA LA CREACIÓN DE UN MODAL (PANTALLA EMERGENTE)                       -->
<ng-template #agregar let-modal >
  <div class="modal-header" style="background-color:#0275d8; color: white;">
    <h4 class="modal-title" style="background-color: #0275d8; color: rgb(0, 0, 0);">Agregar Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="contenedor" class="padre" >
      <div class="txtusuario">
          <a>Usuario</a>
      </div>
      
      <div class="txtusuario">
          <input type="text"  #primero class="form-control" [(ngModel)]="usuarioNuevo" name="usuarioNuevo" id="usuarioNuevo" (keydown.enter)="irSegundo(this.id)" placeholder="Usuario" >
      </div>
      <div class="txtusuario">
        <a>ID</a>
    </div>
    
    <div class="txtusuario">
        <input type="text" #segundo class="form-control" [(ngModel)]="idNuevo" name="idNuevo" id="idNuevo" (keydown.enter)="irTercero(this.id)" placeholder="123456789">
    </div>
      <div class="txtusuario">
        <a>Contraseña</a>
    </div>
      <div class="txtpassword">
          <input type="text" #tercero class="form-control" [(ngModel)]="contraNueva" name="contraNueva" id="contraNueva" (keydown.enter)="irBoton(this.id)" placeholder="Mas de 8 caracteres alfanuméricos">
      </div>
      <div class="btnlogin" >
          <button class="btn btn-outline-success" id="btnagregarUsuario" (click)="createUsuario()">
              Agregar Usuario
          </button>
         
      </div>
  
  <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" *ngIf="confirmCreado" role="progressbar" style="width: 100%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">IT GUATEX</div>
    </div>
  </div>
  </div>
  
</ng-template>
<!--                TERMINA LA CREACION DEL MODAL (PANTALLA EMERGENTE)                                -->

<div class="container custom-container-2">

  <!-- Show it when there is no employee -->
  <div class="no-data text-center" *ngIf="todos.length == 0">
    <p>De momento, no existe ningún usuario.</p>
    <button class="btn btn-outline-primary" (click)="agregarUsuario(agregar)">Agregar Usuario</button>
  </div>

  <!-- Employees list table, it hides when there is no employee -->
  <div *ngIf="todos.length !== 0">
    <h3 class="mb-3 text-center">Lista de Usuarios</h3>

    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of todos; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{item.id}}</td>
            <td>{{item.password}}</td>
            <td>{{item.email}}</td>
            
            <td>
                <div class="divCentrado">
                    <form form-inline my-2 my-lg-0>
                        <div></div>
                            <a class="btn btn-warning" (click)="editarUsuario(actualizar,item.id,item.email,item.password)">Editar</a>
                            &nbsp;&nbsp;&nbsp;
                            <a class="btn btn-danger" (click)="eliminarUsuario(eliminar,item.id,item.email,item.password)">Eliminar</a>
                    </form>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   
    <button class="btn btn-outline-primary" (click)="agregarUsuario(agregar)">Agregar Usuario</button>
    
  </div>

</div>