<base href="/navbar">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Pacifico&family=Permanent+Marker&family=Play:wght@400;700&display=swap" rel="stylesheet">


<!--                   AQUI COMIENZA LA CREACIÓN DE UN MODAL (PANTALLA EMERGENTE)                       -->
<ng-template #content let-modal >
  <div class="modal-header" style="background-color: rgb(9, 108, 238); color: white;">
    <h4 class="modal-title" style="background-color: rgb(9, 108, 238); color: white;">¿Quién desarrollo esta app? Pues nosotros, el equipo de IT-GUATEX</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Estudiamos tus necesidades para crear una aplicación útil e intuitiva, de fácil manejo y ejecución, estamos al tanto de tu feedback {{NombreUsuario}}!&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>
<!--                TERMINA LA CREACION DEL MODAL (PANTALLA EMERGENTE)                                -->

<nav  class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" [routerLink]="'.'">MANEJO DE USUARIOS</a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a class="nav-link" routerLink="/usuarios" (click)="isMenuCollapsed = true" >Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" (click)="isMenuCollapsed = true">Lista de Usuarios</a>
      </li>
      <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle >CRUD</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem class="drops"  >Crear Usuarios</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem class="drops" >Crear Estudiantes</button>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="isMenuCollapsed = true" (click)="acercaDe(content)">Acerca de.. </a>
      </li>
      
      
    </ul>
  </div>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link disabled" >Hola {{NombreUsuario}}</a>
        <button (click)="test3()" class="btn btn-outline-dark btn-sm" >Cerrar Sesión</button>
      </form>
    
</nav>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" *ngIf="confirmacion" role="progressbar" style="width: 100%;" aria-valuenow="0" aria-valuemin="25" aria-valuemax="100">IT GUATEX</div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!--

  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>

<p>
    A responsive navbar can be achieved with an <code>ngbCollapse</code> directive.
  </p>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="'.'">MANEJO DE USUARIOS</a>
    
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
   
    </button>
 
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
         
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true" >Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Lista de Usuarios</a>
        </li>
        <li ngbDropdown class="nav-item">
            <a href (click)="false" class="nav-link" ngbDropdownToggle >CRUD</a>
            <div ngbDropdownMenu>
              <button ngbDropdownItem >Crear Usuarios</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem>Crear Estudiantes</button>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true" (click)="acercaDe(content)">Acerca de.. </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" >Bienvenido {{NombreUsuario}}</a>
        </li>
        <form class="form-inline my-2 my-lg-0 justify-content: flex-end">
          <a class="nav-link disabled" >Hola {{NombreUsuario}}</a>
          <button class="btn btn-outline-dark btn-sm" type="submit">Cerrar Sesión</button>
        </form>
      </ul>
    </div>
  </nav>
  
  <p>
    These steps were used to create this responsive navbar.
  </p>
  
  <ol>
    <li>
      Add a property to the component to track whether the menu is open.
      In this example, the property is called <code>isMenuCollapsed</code>.
    </li>
    <li>
      Add an <code>ngbCollapse</code> directive to the element
      with the <code>navbar-collapse</code> CSS class. Use the
      property in the component as the value for the directive.
    </li>
    <li>
      When the navbar toggler button is clicked, toggle the
      value of the property in the component.
    </li>
    <li>
      If you would like the menu to close when a link is clicked,
      add a <code>(click)</code> handler to each link and set the
      property on the component to true to hide the menu.
    </li>
  </ol>
  
  <p>
    Resize your browser window to see it in action!
  </p>
  <button type="button" class="btn btn-outline-secondary mr-2" placement="top"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
  Popover on top
</button>

<button type="button" class="btn btn-outline-secondary mr-2" placement="right"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
  Popover on right
</button>

<button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">
  Popover on bottom
</button>

<button type="button" class="btn btn-outline-secondary mr-2" placement="left"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">
  Popover on left
</button>

<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-secondary mr-2" placement="top" ngbTooltip="Tooltip on top">
        Tooltip on top
      </button>
      <button type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Tooltip on right">
        Tooltip on right
      </button>
      <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom" ngbTooltip="Tooltip on bottom">
        Tooltip on bottom
      </button>
      <button type="button" class="btn btn-outline-secondary mr-2" placement="left" ngbTooltip="Tooltip on left">
        Tooltip on left
      </button>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link" ngbDropdownToggle placement="bottom" ngbTooltip="Tooltip on bottom">Dropdown</a>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem placement="right" ngbTooltip="Este menu esta relacionado con las acciones que se pueden hacer y permiten dendtor de la aplicacion">Action</button>
                  <button ngbDropdownItem>Another action</button>
                  <button ngbDropdownItem>Something else here</button>
                  <div class="dropdown-divider"></div>
                  <button ngbDropdownItem>Separated link</button>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
        <button (click)="test3()">
            limpiar
        </button>
      </nav>

      


      
  -->
  